<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=0">
	<meta name="authoring-tool" content="Adobe_Animate_CC">
	<title>game-1024x640</title>
	<link href="/dist/css/base.<%= css_version %>.css" rel="stylesheet" type="text/css">
	<script src="https://s0.2mdn.net/ads/studio/cached_libs/createjs_2019.11.15_min.js"></script>
	<script src="game.js"></script>
<script>
(function (cjs, an) {
var p; // shortcut to reference prototypes
var lib={};var ss={};var img={};
lib.webFontTxtInst = {}; 
var loadedTypekitCount = 0;
var loadedGoogleCount = 0;
var gFontsUpdateCacheList = [];
var tFontsUpdateCacheList = [];
lib.ssMetadata = [
		{name:"game_1024x640_atlas_", frames: [[202,1282,190,190],[394,1282,190,190],[1250,1474,100,100],[1546,1282,180,180],[0,1282,200,200],[0,0,2048,1280],[586,1282,190,190],[778,1282,190,190],[970,1282,190,190],[1354,1282,190,178],[1162,1282,190,190],[1728,1282,129,129],[131,1484,57,91],[1859,1282,129,129],[1598,1675,103,87],[1728,1413,129,129],[1859,1413,129,129],[1354,1462,129,129],[1485,1464,129,129],[202,1474,129,129],[333,1474,129,129],[464,1474,129,129],[595,1474,129,129],[726,1474,129,129],[1048,1605,117,121],[857,1474,129,129],[1512,1595,84,121],[988,1474,129,129],[1119,1474,129,129],[0,1615,100,100],[0,1484,129,129],[1616,1544,129,129],[1747,1544,129,129],[1878,1544,129,129],[1250,1593,129,129],[1381,1595,129,129],[131,1605,129,129],[262,1605,129,129],[393,1605,129,129],[524,1605,129,129],[655,1605,129,129],[786,1605,129,129],[917,1605,129,129]]}
];
lib.updateListCache = function (cacheList) {		
	for(var i = 0; i < cacheList.length; i++) {		
		if(cacheList[i].cacheCanvas)		
			cacheList[i].updateCache();		
	}		
};		
lib.addElementsToCache = function (textInst, cacheList) {		
	var cur = textInst;		
	while(cur != null && cur != exportRoot) {		
		if(cacheList.indexOf(cur) != -1)		
			break;		
		cur = cur.parent;		
	}		
	if(cur != exportRoot) {		
		var cur2 = textInst;		
		var index = cacheList.indexOf(cur);		
		while(cur2 != null && cur2 != cur) {		
			cacheList.splice(index, 0, cur2);		
			cur2 = cur2.parent;		
			index++;		
		}		
	}		
	else {		
		cur = textInst;		
		while(cur != null && cur != exportRoot) {		
			cacheList.push(cur);		
			cur = cur.parent;		
		}		
	}		
};		
lib.gfontAvailable = function(family, totalGoogleCount) {		
	lib.properties.webfonts[family] = true;		
	var txtInst = lib.webFontTxtInst && lib.webFontTxtInst[family] || [];		
	for(var f = 0; f < txtInst.length; ++f)		
		lib.addElementsToCache(txtInst[f], gFontsUpdateCacheList);		
	loadedGoogleCount++;		
	if(loadedGoogleCount == totalGoogleCount) {		
		lib.updateListCache(gFontsUpdateCacheList);		
	}		
};		
lib.tfontAvailable = function(family, totalTypekitCount) {		
	lib.properties.webfonts[family] = true;		
	var txtInst = lib.webFontTxtInst && lib.webFontTxtInst[family] || [];		
	for(var f = 0; f < txtInst.length; ++f)		
		lib.addElementsToCache(txtInst[f], tFontsUpdateCacheList);		
	loadedTypekitCount++;		
	if(loadedTypekitCount == totalTypekitCount) {		
		lib.updateListCache(tFontsUpdateCacheList);		
	}		
};
// symbols:
(lib.CachedBmp_200 = function() {
	this.initialize(ss["game_1024x640_atlas_"]);
	this.gotoAndStop(0);
}).prototype = p = new cjs.Sprite();
(lib.CachedBmp_186 = function() {
	this.initialize(ss["game_1024x640_atlas_"]);
	this.gotoAndStop(1);
}).prototype = p = new cjs.Sprite();
(lib.CachedBmp_210 = function() {
	this.initialize(ss["game_1024x640_atlas_"]);
	this.gotoAndStop(2);
}).prototype = p = new cjs.Sprite();
(lib.CachedBmp_185 = function() {
	this.initialize(ss["game_1024x640_atlas_"]);
	this.gotoAndStop(3);
}).prototype = p = new cjs.Sprite();
(lib.CachedBmp_184 = function() {
	this.initialize(ss["game_1024x640_atlas_"]);
	this.gotoAndStop(4);
}).prototype = p = new cjs.Sprite();
(lib.CachedBmp_211 = function() {
	this.initialize(ss["game_1024x640_atlas_"]);
	this.gotoAndStop(5);
}).prototype = p = new cjs.Sprite();
(lib.CachedBmp_182 = function() {
	this.initialize(ss["game_1024x640_atlas_"]);
	this.gotoAndStop(6);
}).prototype = p = new cjs.Sprite();
(lib.CachedBmp_181 = function() {
	this.initialize(ss["game_1024x640_atlas_"]);
	this.gotoAndStop(7);
}).prototype = p = new cjs.Sprite();
(lib.CachedBmp_195 = function() {
	this.initialize(ss["game_1024x640_atlas_"]);
	this.gotoAndStop(8);
}).prototype = p = new cjs.Sprite();
(lib.CachedBmp_180 = function() {
	this.initialize(ss["game_1024x640_atlas_"]);
	this.gotoAndStop(9);
}).prototype = p = new cjs.Sprite();
(lib.CachedBmp_171 = function() {
	this.initialize(ss["game_1024x640_atlas_"]);
	this.gotoAndStop(10);
}).prototype = p = new cjs.Sprite();
(lib.archstone02x = function() {
	this.initialize(ss["game_1024x640_atlas_"]);
	this.gotoAndStop(11);
}).prototype = p = new cjs.Sprite();
(lib.barrel2x = function() {
	this.initialize(ss["game_1024x640_atlas_"]);
	this.gotoAndStop(12);
}).prototype = p = new cjs.Sprite();
(lib.bridge2x = function() {
	this.initialize(ss["game_1024x640_atlas_"]);
	this.gotoAndStop(13);
}).prototype = p = new cjs.Sprite();
(lib.bush2x = function() {
	this.initialize(ss["game_1024x640_atlas_"]);
	this.gotoAndStop(14);
}).prototype = p = new cjs.Sprite();
(lib.dirtb2x = function() {
	this.initialize(ss["game_1024x640_atlas_"]);
	this.gotoAndStop(15);
}).prototype = p = new cjs.Sprite();
(lib.dirtbl2x = function() {
	this.initialize(ss["game_1024x640_atlas_"]);
	this.gotoAndStop(16);
}).prototype = p = new cjs.Sprite();
(lib.dirtbr2x = function() {
	this.initialize(ss["game_1024x640_atlas_"]);
	this.gotoAndStop(17);
}).prototype = p = new cjs.Sprite();
(lib.dirtl2x = function() {
	this.initialize(ss["game_1024x640_atlas_"]);
	this.gotoAndStop(18);
}).prototype = p = new cjs.Sprite();
(lib.dirtopen2x = function() {
	this.initialize(ss["game_1024x640_atlas_"]);
	this.gotoAndStop(19);
}).prototype = p = new cjs.Sprite();
(lib.dirtr2x = function() {
	this.initialize(ss["game_1024x640_atlas_"]);
	this.gotoAndStop(20);
}).prototype = p = new cjs.Sprite();
(lib.dirtt2x = function() {
	this.initialize(ss["game_1024x640_atlas_"]);
	this.gotoAndStop(21);
}).prototype = p = new cjs.Sprite();
(lib.dirttl2x = function() {
	this.initialize(ss["game_1024x640_atlas_"]);
	this.gotoAndStop(22);
}).prototype = p = new cjs.Sprite();
(lib.dirttr2x = function() {
	this.initialize(ss["game_1024x640_atlas_"]);
	this.gotoAndStop(23);
}).prototype = p = new cjs.Sprite();
(lib.doorwide2x = function() {
	this.initialize(ss["game_1024x640_atlas_"]);
	this.gotoAndStop(24);
}).prototype = p = new cjs.Sprite();
(lib.grass2x = function() {
	this.initialize(ss["game_1024x640_atlas_"]);
	this.gotoAndStop(25);
}).prototype = p = new cjs.Sprite();
(lib.potionpull2x = function() {
	this.initialize(ss["game_1024x640_atlas_"]);
	this.gotoAndStop(26);
}).prototype = p = new cjs.Sprite();
(lib.stone12x = function() {
	this.initialize(ss["game_1024x640_atlas_"]);
	this.gotoAndStop(27);
}).prototype = p = new cjs.Sprite();
(lib.stone2x = function() {
	this.initialize(ss["game_1024x640_atlas_"]);
	this.gotoAndStop(28);
}).prototype = p = new cjs.Sprite();
(lib.transparentBox = function() {
	this.initialize(ss["game_1024x640_atlas_"]);
	this.gotoAndStop(29);
}).prototype = p = new cjs.Sprite();
(lib.water2x = function() {
	this.initialize(ss["game_1024x640_atlas_"]);
	this.gotoAndStop(30);
}).prototype = p = new cjs.Sprite();
(lib.waterb2x = function() {
	this.initialize(ss["game_1024x640_atlas_"]);
	this.gotoAndStop(31);
}).prototype = p = new cjs.Sprite();
(lib.waterbl2x = function() {
	this.initialize(ss["game_1024x640_atlas_"]);
	this.gotoAndStop(32);
}).prototype = p = new cjs.Sprite();
(lib.waterbr2x = function() {
	this.initialize(ss["game_1024x640_atlas_"]);
	this.gotoAndStop(33);
}).prototype = p = new cjs.Sprite();
(lib.waterinnerbl2x = function() {
	this.initialize(ss["game_1024x640_atlas_"]);
	this.gotoAndStop(34);
}).prototype = p = new cjs.Sprite();
(lib.waterinnerbr2x = function() {
	this.initialize(ss["game_1024x640_atlas_"]);
	this.gotoAndStop(35);
}).prototype = p = new cjs.Sprite();
(lib.waterinnertl2x = function() {
	this.initialize(ss["game_1024x640_atlas_"]);
	this.gotoAndStop(36);
}).prototype = p = new cjs.Sprite();
(lib.waterinnertr2x = function() {
	this.initialize(ss["game_1024x640_atlas_"]);
	this.gotoAndStop(37);
}).prototype = p = new cjs.Sprite();
(lib.waterl2x = function() {
	this.initialize(ss["game_1024x640_atlas_"]);
	this.gotoAndStop(38);
}).prototype = p = new cjs.Sprite();
(lib.waterr2x = function() {
	this.initialize(ss["game_1024x640_atlas_"]);
	this.gotoAndStop(39);
}).prototype = p = new cjs.Sprite();
(lib.watert2x = function() {
	this.initialize(ss["game_1024x640_atlas_"]);
	this.gotoAndStop(40);
}).prototype = p = new cjs.Sprite();
(lib.watertl2x = function() {
	this.initialize(ss["game_1024x640_atlas_"]);
	this.gotoAndStop(41);
}).prototype = p = new cjs.Sprite();
(lib.watertr2x = function() {
	this.initialize(ss["game_1024x640_atlas_"]);
	this.gotoAndStop(42);
}).prototype = p = new cjs.Sprite();
// helper functions:
function mc_symbol_clone() {
	var clone = this._cloneProps(new this.constructor(this.mode, this.startPosition, this.loop));
	clone.gotoAndStop(this.currentFrame);
	clone.paused = this.paused;
	clone.framerate = this.framerate;
	return clone;
}
function getMCSymbolPrototype(symbol, nominalBounds, frameBounds) {
	var prototype = cjs.extend(symbol, cjs.MovieClip);
	prototype.clone = mc_symbol_clone;
	prototype.nominalBounds = nominalBounds;
	prototype.frameBounds = frameBounds;
	return prototype;
	}
(lib.water_open0 = function(mode,startPosition,loop) {
	this.initialize(mode,startPosition,loop,{});
	// Layer_1
	this.instance = new lib.water2x();
	this.instance.setTransform(0,0,0.7364,0.7364);
	this.instance_1 = new lib.CachedBmp_200();
	this.instance_1.setTransform(0,0,0.5,0.5);
	this.timeline.addTween(cjs.Tween.get({}).to({state:[{t:this.instance_1},{t:this.instance}]}).wait(1));
	this._renderFirstFrame();
}).prototype = getMCSymbolPrototype(lib.water_open0, new cjs.Rectangle(0,0,95,95), null);
(lib.water_i_tr = function(mode,startPosition,loop) {
	this.initialize(mode,startPosition,loop,{});
	// Layer_1
	this.instance = new lib.waterinnertr2x();
	this.instance.setTransform(0,0,0.7364,0.7364);
	this.instance_1 = new lib.CachedBmp_200();
	this.instance_1.setTransform(0,0,0.5,0.5);
	this.timeline.addTween(cjs.Tween.get({}).to({state:[{t:this.instance_1},{t:this.instance}]}).wait(1));
	this._renderFirstFrame();
}).prototype = getMCSymbolPrototype(lib.water_i_tr, new cjs.Rectangle(0,0,95,95), null);
(lib.water_i_tl = function(mode,startPosition,loop) {
	this.initialize(mode,startPosition,loop,{});
	// Layer_1
	this.instance = new lib.waterinnertl2x();
	this.instance.setTransform(0,0,0.7364,0.7364);
	this.instance_1 = new lib.CachedBmp_200();
	this.instance_1.setTransform(0,0,0.5,0.5);
	this.timeline.addTween(cjs.Tween.get({}).to({state:[{t:this.instance_1},{t:this.instance}]}).wait(1));
	this._renderFirstFrame();
}).prototype = getMCSymbolPrototype(lib.water_i_tl, new cjs.Rectangle(0,0,95,95), null);
(lib.water_i_br = function(mode,startPosition,loop) {
	this.initialize(mode,startPosition,loop,{});
	// Layer_1
	this.instance = new lib.waterinnerbr2x();
	this.instance.setTransform(0,0,0.7364,0.7364);
	this.instance_1 = new lib.CachedBmp_200();
	this.instance_1.setTransform(0,0,0.5,0.5);
	this.timeline.addTween(cjs.Tween.get({}).to({state:[{t:this.instance_1},{t:this.instance}]}).wait(1));
	this._renderFirstFrame();
}).prototype = getMCSymbolPrototype(lib.water_i_br, new cjs.Rectangle(0,0,95,95), null);
(lib.water_i_bl = function(mode,startPosition,loop) {
	this.initialize(mode,startPosition,loop,{});
	// Layer_1
	this.instance = new lib.waterinnerbl2x();
	this.instance.setTransform(0,0,0.7364,0.7365);
	this.instance_1 = new lib.CachedBmp_200();
	this.instance_1.setTransform(0,0,0.5,0.5);
	this.timeline.addTween(cjs.Tween.get({}).to({state:[{t:this.instance_1},{t:this.instance}]}).wait(1));
	this._renderFirstFrame();
}).prototype = getMCSymbolPrototype(lib.water_i_bl, new cjs.Rectangle(0,0,95,95), null);
(lib.water_e_tr = function(mode,startPosition,loop) {
	this.initialize(mode,startPosition,loop,{});
	// Layer_1
	this.instance = new lib.watertr2x();
	this.instance.setTransform(0,0,0.7364,0.7364);
	this.instance_1 = new lib.CachedBmp_195();
	this.instance_1.setTransform(0,0,0.5,0.5);
	this.timeline.addTween(cjs.Tween.get({}).to({state:[{t:this.instance_1},{t:this.instance}]}).wait(1));
	this._renderFirstFrame();
}).prototype = getMCSymbolPrototype(lib.water_e_tr, new cjs.Rectangle(0,0,95,95), null);
(lib.water_e_tl = function(mode,startPosition,loop) {
	this.initialize(mode,startPosition,loop,{});
	// Layer_1
	this.instance = new lib.watertl2x();
	this.instance.setTransform(0,0,0.7364,0.7364);
	this.instance_1 = new lib.CachedBmp_195();
	this.instance_1.setTransform(0,0,0.5,0.5);
	this.timeline.addTween(cjs.Tween.get({}).to({state:[{t:this.instance_1},{t:this.instance}]}).wait(1));
	this._renderFirstFrame();
}).prototype = getMCSymbolPrototype(lib.water_e_tl, new cjs.Rectangle(0,0,95,95), null);
(lib.water_e_t = function(mode,startPosition,loop) {
	this.initialize(mode,startPosition,loop,{});
	// Layer_1
	this.instance = new lib.watert2x();
	this.instance.setTransform(0,0,0.7364,0.7364);
	this.instance_1 = new lib.CachedBmp_195();
	this.instance_1.setTransform(0,0,0.5,0.5);
	this.timeline.addTween(cjs.Tween.get({}).to({state:[{t:this.instance_1},{t:this.instance}]}).wait(1));
	this._renderFirstFrame();
}).prototype = getMCSymbolPrototype(lib.water_e_t, new cjs.Rectangle(0,0,95,95), null);
(lib.water_e_r = function(mode,startPosition,loop) {
	this.initialize(mode,startPosition,loop,{});
	// Layer_1
	this.instance = new lib.waterr2x();
	this.instance.setTransform(0,0,0.7364,0.7364);
	this.instance_1 = new lib.CachedBmp_195();
	this.instance_1.setTransform(0,0,0.5,0.5);
	this.timeline.addTween(cjs.Tween.get({}).to({state:[{t:this.instance_1},{t:this.instance}]}).wait(1));
	this._renderFirstFrame();
}).prototype = getMCSymbolPrototype(lib.water_e_r, new cjs.Rectangle(0,0,95,95), null);
(lib.water_e_l = function(mode,startPosition,loop) {
	this.initialize(mode,startPosition,loop,{});
	// Layer_1
	this.instance = new lib.waterl2x();
	this.instance.setTransform(0,0,0.7364,0.7364);
	this.instance_1 = new lib.CachedBmp_195();
	this.instance_1.setTransform(0,0,0.5,0.5);
	this.timeline.addTween(cjs.Tween.get({}).to({state:[{t:this.instance_1},{t:this.instance}]}).wait(1));
	this._renderFirstFrame();
}).prototype = getMCSymbolPrototype(lib.water_e_l, new cjs.Rectangle(0,0,95,95), null);
(lib.water_e_br = function(mode,startPosition,loop) {
	this.initialize(mode,startPosition,loop,{});
	// Layer_1
	this.instance = new lib.waterbr2x();
	this.instance.setTransform(0,0,0.7364,0.7365);
	this.instance_1 = new lib.CachedBmp_195();
	this.instance_1.setTransform(0,0,0.5,0.5);
	this.timeline.addTween(cjs.Tween.get({}).to({state:[{t:this.instance_1},{t:this.instance}]}).wait(1));
	this._renderFirstFrame();
}).prototype = getMCSymbolPrototype(lib.water_e_br, new cjs.Rectangle(0,0,95,95), null);
(lib.water_e_bl = function(mode,startPosition,loop) {
	this.initialize(mode,startPosition,loop,{});
	// Layer_1
	this.instance = new lib.waterbl2x();
	this.instance.setTransform(0,0,0.7364,0.7364);
	this.instance_1 = new lib.CachedBmp_195();
	this.instance_1.setTransform(0,0,0.5,0.5);
	this.timeline.addTween(cjs.Tween.get({}).to({state:[{t:this.instance_1},{t:this.instance}]}).wait(1));
	this._renderFirstFrame();
}).prototype = getMCSymbolPrototype(lib.water_e_bl, new cjs.Rectangle(0,0,95,95), null);
(lib.water_e_b = function(mode,startPosition,loop) {
	this.initialize(mode,startPosition,loop,{});
	// Layer_1
	this.instance = new lib.waterb2x();
	this.instance.setTransform(0,0,0.7364,0.7364);
	this.instance_1 = new lib.CachedBmp_195();
	this.instance_1.setTransform(0,0,0.5,0.5);
	this.timeline.addTween(cjs.Tween.get({}).to({state:[{t:this.instance_1},{t:this.instance}]}).wait(1));
	this._renderFirstFrame();
}).prototype = getMCSymbolPrototype(lib.water_e_b, new cjs.Rectangle(0,0,95,95), null);
(lib.stonewall_piece1 = function(mode,startPosition,loop) {
	this.initialize(mode,startPosition,loop,{});
	// Layer_1
	this.instance = new lib.stone12x();
	this.instance.setTransform(0,0,0.7364,0.7364);
	this.instance_1 = new lib.CachedBmp_195();
	this.instance_1.setTransform(0,0,0.5,0.5);
	this.timeline.addTween(cjs.Tween.get({}).to({state:[{t:this.instance_1},{t:this.instance}]}).wait(1));
	this._renderFirstFrame();
}).prototype = getMCSymbolPrototype(lib.stonewall_piece1, new cjs.Rectangle(0,0,95,95), null);
(lib.stonewall_piece0 = function(mode,startPosition,loop) {
	this.initialize(mode,startPosition,loop,{});
	// Layer_1
	this.instance = new lib.stone2x();
	this.instance.setTransform(0,0,0.7364,0.7364);
	this.instance_1 = new lib.CachedBmp_186();
	this.instance_1.setTransform(0,0,0.5,0.5);
	this.timeline.addTween(cjs.Tween.get({}).to({state:[{t:this.instance_1},{t:this.instance}]}).wait(1));
	this._renderFirstFrame();
}).prototype = getMCSymbolPrototype(lib.stonewall_piece0, new cjs.Rectangle(0,0,95,95), null);
(lib.potionPiece = function(mode,startPosition,loop) {
	this.initialize(mode,startPosition,loop,{});
	// Layer_2
	this.instance = new lib.transparentBox();
	this.instance.setTransform(0,0,0.9499,0.9499);
	this.timeline.addTween(cjs.Tween.get(this.instance).wait(1));
	// Layer_1
	this.instance_1 = new lib.potionpull2x();
	this.instance_1.setTransform(27,18,0.4631,0.4631);
	this.timeline.addTween(cjs.Tween.get(this.instance_1).wait(1));
	this._renderFirstFrame();
}).prototype = getMCSymbolPrototype(lib.potionPiece, new cjs.Rectangle(0,0,95,95), null);
(lib.playerMovDebug = function(mode,startPosition,loop) {
	this.initialize(mode,startPosition,loop,{});
	// Layer_1
	this.instance = new lib.CachedBmp_210();
	this.instance.setTransform(-25,-25,0.5,0.5);
	this.timeline.addTween(cjs.Tween.get(this.instance).wait(1));
	this._renderFirstFrame();
}).prototype = getMCSymbolPrototype(lib.playerMovDebug, new cjs.Rectangle(-25,-25,50,50), null);
(lib.player = function(mode,startPosition,loop) {
	this.initialize(mode,startPosition,loop,{});
	// boundingbox
	this.instance = new lib.transparentBox();
	this.instance.setTransform(0,0,0.9499,0.9499);
	this.timeline.addTween(cjs.Tween.get(this.instance).wait(1));
	// Layer_2
	this.instance_1 = new lib.CachedBmp_185();
	this.instance_1.setTransform(2.5,2.5,0.5,0.5);
	this.timeline.addTween(cjs.Tween.get(this.instance_1).wait(1));
	this._renderFirstFrame();
}).prototype = getMCSymbolPrototype(lib.player, new cjs.Rectangle(0,0,95,95), null);
(lib.placeholder = function(mode,startPosition,loop) {
	this.initialize(mode,startPosition,loop,{});
	// Layer_1
	this.instance = new lib.CachedBmp_184();
	this.instance.setTransform(0,0,0.5,0.5);
	this.timeline.addTween(cjs.Tween.get(this.instance).wait(1));
	this._renderFirstFrame();
}).prototype = getMCSymbolPrototype(lib.placeholder, new cjs.Rectangle(0,0,100,100), null);
(lib.mouseHandler = function(mode,startPosition,loop) {
	this.initialize(mode,startPosition,loop,{});
	// Layer_1
	this.instance = new lib.CachedBmp_211();
	this.instance.setTransform(-512,-320,0.5,0.5);
	this.timeline.addTween(cjs.Tween.get(this.instance).wait(1));
	this._renderFirstFrame();
}).prototype = getMCSymbolPrototype(lib.mouseHandler, new cjs.Rectangle(-512,-320,1024,640), null);
(lib.grass_piece0 = function(mode,startPosition,loop) {
if (loop == null) { loop = false; }	this.initialize(mode,startPosition,loop,{});
	// bitmap
	this.instance = new lib.transparentBox();
	this.instance.setTransform(0,0,0.9499,0.9499);
	this.timeline.addTween(cjs.Tween.get(this.instance).wait(1));
	// Layer_4 (mask)
	var mask = new cjs.Shape();
	mask._off = true;
	mask.graphics.p("AnaHbIAAu1IO1AAIAAO1g");
	mask.setTransform(47.5,47.5);
	// Layer_5
	this.instance_1 = new lib.CachedBmp_182();
	this.instance_1.setTransform(0,0,0.5,0.5);
	this.timeline.addTween(cjs.Tween.get(this.instance_1).wait(1));
	// grass
	this.instance_2 = new lib.grass2x();
	this.instance_2.setTransform(0,0,0.7366,0.7366);
	this.timeline.addTween(cjs.Tween.get(this.instance_2).wait(1));
	this._renderFirstFrame();
}).prototype = getMCSymbolPrototype(lib.grass_piece0, new cjs.Rectangle(0,0,95,95), null);
(lib.enemy0 = function(mode,startPosition,loop) {
	this.initialize(mode,startPosition,loop,{});
	// Layer_1
	this.instance = new lib.transparentBox();
	this.instance.setTransform(0,0,0.9499,0.9499);
	this.timeline.addTween(cjs.Tween.get(this.instance).wait(1));
	// boundingbox
	this.instance_1 = new lib.CachedBmp_181();
	this.instance_1.setTransform(0,0,0.5,0.5);
	this.timeline.addTween(cjs.Tween.get(this.instance_1).wait(1));
	this._renderFirstFrame();
}).prototype = getMCSymbolPrototype(lib.enemy0, new cjs.Rectangle(0,0,95,95), null);
(lib.door_stone0 = function(mode,startPosition,loop) {
	this.initialize(mode,startPosition,loop,{});
	// Layer_2
	this.instance = new lib.transparentBox();
	this.instance.setTransform(0,0,0.9499,0.9499);
	this.timeline.addTween(cjs.Tween.get(this.instance).wait(1));
	// Layer_3
	this.instance_1 = new lib.doorwide2x();
	this.instance_1.setTransform(0,0,0.812,0.7851);
	this.timeline.addTween(cjs.Tween.get(this.instance_1).wait(1));
	this._renderFirstFrame();
}).prototype = getMCSymbolPrototype(lib.door_stone0, new cjs.Rectangle(0,0,95,95), null);
(lib.dirt_open = function(mode,startPosition,loop) {
	this.initialize(mode,startPosition,loop,{});
	// Layer_1
	this.instance = new lib.dirtopen2x();
	this.instance.setTransform(0,0,0.7364,0.7364);
	this.instance_1 = new lib.CachedBmp_180();
	this.instance_1.setTransform(0,0,0.5,0.5);
	this.timeline.addTween(cjs.Tween.get({}).to({state:[{t:this.instance_1},{t:this.instance}]}).wait(1));
	this._renderFirstFrame();
}).prototype = getMCSymbolPrototype(lib.dirt_open, new cjs.Rectangle(0,0,95,95), null);
(lib.dirt_e_tr = function(mode,startPosition,loop) {
	this.initialize(mode,startPosition,loop,{});
	// Layer_1
	this.instance = new lib.dirttr2x();
	this.instance.setTransform(0,0,0.7364,0.7364);
	this.instance_1 = new lib.CachedBmp_180();
	this.instance_1.setTransform(0,0,0.5,0.5);
	this.timeline.addTween(cjs.Tween.get({}).to({state:[{t:this.instance_1},{t:this.instance}]}).wait(1));
	this._renderFirstFrame();
}).prototype = getMCSymbolPrototype(lib.dirt_e_tr, new cjs.Rectangle(0,0,95,95), null);
(lib.dirt_e_tl = function(mode,startPosition,loop) {
	this.initialize(mode,startPosition,loop,{});
	// Layer_1
	this.instance = new lib.dirttl2x();
	this.instance.setTransform(0,0,0.7364,0.7364);
	this.instance_1 = new lib.CachedBmp_180();
	this.instance_1.setTransform(0,0,0.5,0.5);
	this.timeline.addTween(cjs.Tween.get({}).to({state:[{t:this.instance_1},{t:this.instance}]}).wait(1));
	this._renderFirstFrame();
}).prototype = getMCSymbolPrototype(lib.dirt_e_tl, new cjs.Rectangle(0,0,95,95), null);
(lib.dirt_e_t = function(mode,startPosition,loop) {
	this.initialize(mode,startPosition,loop,{});
	// Layer_1
	this.instance = new lib.dirtt2x();
	this.instance.setTransform(0,0,0.7364,0.7364);
	this.instance_1 = new lib.CachedBmp_180();
	this.instance_1.setTransform(0,0,0.5,0.5);
	this.timeline.addTween(cjs.Tween.get({}).to({state:[{t:this.instance_1},{t:this.instance}]}).wait(1));
	this._renderFirstFrame();
}).prototype = getMCSymbolPrototype(lib.dirt_e_t, new cjs.Rectangle(0,0,95,95), null);
(lib.dirt_e_r = function(mode,startPosition,loop) {
	this.initialize(mode,startPosition,loop,{});
	// Layer_1
	this.instance = new lib.dirtr2x();
	this.instance.setTransform(0,0,0.7364,0.7364);
	this.instance_1 = new lib.CachedBmp_180();
	this.instance_1.setTransform(0,0,0.5,0.5);
	this.timeline.addTween(cjs.Tween.get({}).to({state:[{t:this.instance_1},{t:this.instance}]}).wait(1));
	this._renderFirstFrame();
}).prototype = getMCSymbolPrototype(lib.dirt_e_r, new cjs.Rectangle(0,0,95,95), null);
(lib.dirt_e_l = function(mode,startPosition,loop) {
	this.initialize(mode,startPosition,loop,{});
	// Layer_1
	this.instance = new lib.dirtl2x();
	this.instance.setTransform(0,0,0.7364,0.7365);
	this.instance_1 = new lib.CachedBmp_180();
	this.instance_1.setTransform(0,0,0.5,0.5);
	this.timeline.addTween(cjs.Tween.get({}).to({state:[{t:this.instance_1},{t:this.instance}]}).wait(1));
	this._renderFirstFrame();
}).prototype = getMCSymbolPrototype(lib.dirt_e_l, new cjs.Rectangle(0,0,95,95), null);
(lib.dirt_e_br = function(mode,startPosition,loop) {
	this.initialize(mode,startPosition,loop,{});
	// Layer_1
	this.instance = new lib.dirtbr2x();
	this.instance.setTransform(0,0,0.7364,0.7364);
	this.instance_1 = new lib.CachedBmp_180();
	this.instance_1.setTransform(0,0,0.5,0.5);
	this.timeline.addTween(cjs.Tween.get({}).to({state:[{t:this.instance_1},{t:this.instance}]}).wait(1));
	this._renderFirstFrame();
}).prototype = getMCSymbolPrototype(lib.dirt_e_br, new cjs.Rectangle(0,0,95,95), null);
(lib.dirt_e_bl = function(mode,startPosition,loop) {
	this.initialize(mode,startPosition,loop,{});
	// Layer_1
	this.instance = new lib.dirtbl2x();
	this.instance.setTransform(0,0,0.7364,0.7364);
	this.instance_1 = new lib.CachedBmp_195();
	this.instance_1.setTransform(0,0,0.5,0.5);
	this.timeline.addTween(cjs.Tween.get({}).to({state:[{t:this.instance_1},{t:this.instance}]}).wait(1));
	this._renderFirstFrame();
}).prototype = getMCSymbolPrototype(lib.dirt_e_bl, new cjs.Rectangle(0,0,95,95), null);
(lib.dirt_e_b = function(mode,startPosition,loop) {
	this.initialize(mode,startPosition,loop,{});
	// Layer_1
	this.instance = new lib.dirtb2x();
	this.instance.setTransform(0,0,0.7364,0.7364);
	this.instance_1 = new lib.CachedBmp_180();
	this.instance_1.setTransform(0,0,0.5,0.5);
	this.timeline.addTween(cjs.Tween.get({}).to({state:[{t:this.instance_1},{t:this.instance}]}).wait(1));
	this._renderFirstFrame();
}).prototype = getMCSymbolPrototype(lib.dirt_e_b, new cjs.Rectangle(0,0,95,95), null);
(lib.bridge_vertical0 = function(mode,startPosition,loop) {
	this.initialize(mode,startPosition,loop,{});
	// Layer_1
	this.instance = new lib.bridge2x();
	this.instance.setTransform(0,0,0.7364,0.7364);
	this.instance_1 = new lib.CachedBmp_171();
	this.instance_1.setTransform(0,0,0.5,0.5);
	this.timeline.addTween(cjs.Tween.get({}).to({state:[{t:this.instance_1},{t:this.instance}]}).wait(1));
	this._renderFirstFrame();
}).prototype = getMCSymbolPrototype(lib.bridge_vertical0, new cjs.Rectangle(0,0,95,95), null);
(lib.bridge_horizontal0 = function(mode,startPosition,loop) {
	this.initialize(mode,startPosition,loop,{});
	// Layer_1
	this.instance = new lib.bridge2x();
	this.instance.setTransform(95,0,0.7364,0.7364,90);
	this.instance_1 = new lib.CachedBmp_171();
	this.instance_1.setTransform(0,0,0.5,0.5);
	this.timeline.addTween(cjs.Tween.get({}).to({state:[{t:this.instance_1},{t:this.instance}]}).wait(1));
	this._renderFirstFrame();
}).prototype = getMCSymbolPrototype(lib.bridge_horizontal0, new cjs.Rectangle(0,0,95,95), null);
(lib.barrel = function(mode,startPosition,loop) {
	this.initialize(mode,startPosition,loop,{});
	// Layer_2
	this.instance = new lib.transparentBox();
	this.instance.setTransform(0,0,0.9499,0.9499);
	this.timeline.addTween(cjs.Tween.get(this.instance).wait(1));
	// Layer_1
	this.instance_1 = new lib.barrel2x();
	this.instance_1.setTransform(19,2);
	this.timeline.addTween(cjs.Tween.get(this.instance_1).wait(1));
	this._renderFirstFrame();
}).prototype = getMCSymbolPrototype(lib.barrel, new cjs.Rectangle(0,0,95,95), null);
(lib.archway_stone0 = function(mode,startPosition,loop) {
	this.initialize(mode,startPosition,loop,{});
	// Layer_1
	this.instance = new lib.transparentBox();
	this.instance.setTransform(0,0,0.9499,0.9499);
	this.instance_1 = new lib.archstone02x();
	this.instance_1.setTransform(0,0,0.7364,0.7365);
	this.timeline.addTween(cjs.Tween.get({}).to({state:[{t:this.instance_1},{t:this.instance}]}).wait(1));
	this._renderFirstFrame();
}).prototype = getMCSymbolPrototype(lib.archway_stone0, new cjs.Rectangle(0,0,95,95), null);
(lib.___Camera___ = function(mode,startPosition,loop) {
	this.initialize(mode,startPosition,loop,{});
	// timeline functions:
	this.frame_0 = function() {
		this.visible = false;
	}
	// actions tween:
	this.timeline.addTween(cjs.Tween.get(this).call(this.frame_0).wait(2));
	// cameraBoundary
	this.shape = new cjs.Shape();
	this.shape.graphics.f().s("rgba(0,0,0,0)").ss(2,1,1,3,true).p("EAq+AfQMhV7AAAMAAAg+fMBV7AAAg");
	this.timeline.addTween(cjs.Tween.get(this.shape).wait(2));
	this._renderFirstFrame();
}).prototype = p = new cjs.MovieClip();
p.nominalBounds = new cjs.Rectangle(-513,-321,1026,642);
(lib.Scene_1_mousehandler = function(mode,startPosition,loop) {
	this.initialize(mode,startPosition,loop,{});
	// mousehandler
	this.mouseHandler = new lib.mouseHandler();
	this.mouseHandler.setTransform(512,320);
	this.timeline.addTween(cjs.Tween.get(this.mouseHandler).wait(1));
	this._renderFirstFrame();
}).prototype = getMCSymbolPrototype(lib.Scene_1_mousehandler, null, null);
(lib.Scene_1_holder = function(mode,startPosition,loop) {
	this.initialize(mode,startPosition,loop,{});
	// holder
	this.instance = new lib.placeholder();
	this.instance.setTransform(-242.45,22,1,1,0,0,0,50,50);
	this.timeline.addTween(cjs.Tween.get(this.instance).wait(1));
	this._renderFirstFrame();
}).prototype = getMCSymbolPrototype(lib.Scene_1_holder, null, null);
(lib.Scene_1_camLock = function(mode,startPosition,loop) {
	this.initialize(mode,startPosition,loop,{});
	// camLock
	this.playerMovDebug = new lib.playerMovDebug();
	this.playerMovDebug.setTransform(-204,190.1);
	this.timeline.addTween(cjs.Tween.get(this.playerMovDebug).wait(1));
	this._renderFirstFrame();
}).prototype = getMCSymbolPrototype(lib.Scene_1_camLock, null, null);
(lib.bushpiece = function(mode,startPosition,loop) {
if (loop == null) { loop = false; }	this.initialize(mode,startPosition,loop,{});
	// bounds
	this.instance = new lib.transparentBox();
	this.instance.setTransform(0,0,0.9499,0.9499);
	this.timeline.addTween(cjs.Tween.get(this.instance).wait(1));
	// bush
	this.instance_1 = new lib.bush2x();
	this.instance_1.setTransform(2,9,0.8733,0.8733);
	this.timeline.addTween(cjs.Tween.get(this.instance_1).wait(1));
	// grass
	this.grass_piece0 = new lib.grass_piece0();
	this.grass_piece0.setTransform(46.6,46.6,1,1,0,0,0,46.6,46.6);
	this.timeline.addTween(cjs.Tween.get(this.grass_piece0).wait(1));
	this._renderFirstFrame();
}).prototype = getMCSymbolPrototype(lib.bushpiece, new cjs.Rectangle(0,0,95,95), null);
(lib.Scene_1_library = function(mode,startPosition,loop) {
	this.initialize(mode,startPosition,loop,{});
	// library
	this.enemy0 = new lib.enemy0();
	this.enemy0.setTransform(-47.5,-158.55,1,1,0,0,0,47.5,47.5);
	this.player = new lib.player();
	this.player.setTransform(99.5,-253.55,1,1,0,0,0,47.5,47.5);
	this.archway_stone0 = new lib.archway_stone0();
	this.archway_stone0.setTransform(242.05,30.5,1,1,0,0,0,106,109.5);
	this.door_stone0 = new lib.door_stone0();
	this.door_stone0.setTransform(431.3,-13.8,1,1,0,0,0,102.2,65.2);
	this.stonewall_piece1 = new lib.stonewall_piece1();
	this.stonewall_piece1.setTransform(137.2,126.6,1,1,0,0,0,137.2,126.6);
	this.dirt_open = new lib.dirt_open();
	this.dirt_open.setTransform(149.5,141.6,1,1,0,0,0,149.5,141.6);
	this.dirt_e_bl = new lib.dirt_e_bl();
	this.dirt_e_bl.setTransform(157.5,64.5,1,1,0,0,0,157.5,64.5);
	this.dirt_e_b = new lib.dirt_e_b();
	this.dirt_e_b.setTransform(176.8,76.7,1,1,0,0,0,176.8,76.7);
	this.dirt_e_br = new lib.dirt_e_br();
	this.dirt_e_br.setTransform(152.8,103.1,1,1,0,0,0,152.8,103.1);
	this.dirt_e_r = new lib.dirt_e_r();
	this.dirt_e_r.setTransform(134.8,101.7,1,1,0,0,0,134.8,101.7);
	this.dirt_e_tr = new lib.dirt_e_tr();
	this.dirt_e_tr.setTransform(147.8,89.2,1,1,0,0,0,147.8,89.2);
	this.dirt_e_t = new lib.dirt_e_t();
	this.dirt_e_t.setTransform(156.8,127.2,1,1,0,0,0,156.8,127.2);
	this.dirt_e_tl = new lib.dirt_e_tl();
	this.dirt_e_tl.setTransform(134.8,122.2,1,1,0,0,0,134.8,122.2);
	this.dirt_e_l = new lib.dirt_e_l();
	this.dirt_e_l.setTransform(96.3,109,1,1,0,0,0,96.3,109);
	this.potionPiece = new lib.potionPiece();
	this.potionPiece.setTransform(47.5,67.5,1,1,0,0,0,47.5,67.5);
	this.water_e_t = new lib.water_e_t();
	this.water_e_t.setTransform(116.5,69.2,1,1,0,0,0,116.5,69.2);
	this.water_e_l = new lib.water_e_l();
	this.water_e_l.setTransform(151.7,64.5,1,1,0,0,0,151.7,64.5);
	this.water_e_r = new lib.water_e_r();
	this.water_e_r.setTransform(129.1,77.6,1,1,0,0,0,129.1,77.6);
	this.water_e_b = new lib.water_e_b();
	this.water_e_b.setTransform(124,69.5,1,1,0,0,0,124,69.5);
	this.water_e_br = new lib.water_e_br();
	this.water_e_br.setTransform(122,66.5,1,1,0,0,0,122,66.5);
	this.water_e_bl = new lib.water_e_bl();
	this.water_e_bl.setTransform(64.7,64.7,1,1,0,0,0,64.7,64.7);
	this.water_e_tr = new lib.water_e_tr();
	this.water_e_tl = new lib.water_e_tl();
	this.water_i_tl = new lib.water_i_tl();
	this.water_i_tl.setTransform(122,64.6,1,1,0,0,0,122,64.6);
	this.water_i_tr = new lib.water_i_tr();
	this.water_i_tr.setTransform(87.7,64.5,1,1,0,0,0,87.7,64.5);
	this.water_i_bl = new lib.water_i_bl();
	this.water_i_bl.setTransform(95,53.5,1,1,0,0,0,95,53.5);
	this.water_i_br = new lib.water_i_br();
	this.water_i_br.setTransform(75.9,67,1,1,0,0,0,75.9,67);
	this.bridge_horizontal0 = new lib.bridge_horizontal0();
	this.bridge_horizontal0.setTransform(47.5,47.5,1,1,0,0,0,47.5,47.5);
	this.bridge_vertical0 = new lib.bridge_vertical0();
	this.bridge_vertical0.setTransform(69,69.2,1,1,0,0,0,69,69.2);
	this.stonewall_piece0 = new lib.stonewall_piece0();
	this.stonewall_piece0.setTransform(79.7,64.6,1,1,0,0,0,79.7,64.6);
	this.barrelPiece = new lib.barrel();
	this.barrelPiece.setTransform(47.5,47.6,1,1,0,0,0,47.5,47.6);
	this.water_open0 = new lib.water_open0();
	this.water_open0.setTransform(80,79.7,1,1,0,0,0,80,79.7);
	this.bush_piece0 = new lib.bushpiece();
	this.bush_piece0.setTransform(46.6,46.6,1,1,0,0,0,46.6,46.6);
	this.grass_piece0 = new lib.grass_piece0();
	this.grass_piece0.setTransform(46.6,46.6,1,1,0,0,0,46.6,46.6);
	this.timeline.addTween(cjs.Tween.get({}).to({state:[{t:this.grass_piece0},{t:this.bush_piece0},{t:this.water_open0},{t:this.barrelPiece},{t:this.stonewall_piece0},{t:this.bridge_vertical0},{t:this.bridge_horizontal0},{t:this.water_i_br},{t:this.water_i_bl},{t:this.water_i_tr},{t:this.water_i_tl},{t:this.water_e_tl},{t:this.water_e_tr},{t:this.water_e_bl},{t:this.water_e_br},{t:this.water_e_b},{t:this.water_e_r},{t:this.water_e_l},{t:this.water_e_t},{t:this.potionPiece},{t:this.dirt_e_l},{t:this.dirt_e_tl},{t:this.dirt_e_t},{t:this.dirt_e_tr},{t:this.dirt_e_r},{t:this.dirt_e_br},{t:this.dirt_e_b},{t:this.dirt_e_bl},{t:this.dirt_open},{t:this.stonewall_piece1},{t:this.door_stone0},{t:this.archway_stone0},{t:this.player},{t:this.enemy0}]}).wait(1));
	this._renderFirstFrame();
}).prototype = getMCSymbolPrototype(lib.Scene_1_library, null, null);
// stage content:
(lib.game1024x640 = function(mode,startPosition,loop) {
if (loop == null) { loop = false; }	this.initialize(mode,startPosition,loop,{});
	this.___GetDepth___ = function(obj) {
		var depth = obj.depth;
		var cameraObj = this.___camera___instance;
		if(cameraObj && cameraObj.depth && obj.isAttachedToCamera)
		{
			depth += depth + cameraObj.depth;
		}
		return depth;
		}
	this.___needSorting___ = function() {
		for (var i = 0; i < this.numChildren - 1; i++)
		{
			var prevDepth = this.___GetDepth___(this.getChildAt(i));
			var nextDepth = this.___GetDepth___(this.getChildAt(i + 1));
			if (prevDepth < nextDepth)
				return true;
		}
		return false;
	}
	this.___sortFunction___ = function(obj1, obj2) {
		return (this.exportRoot.___GetDepth___(obj2) - this.exportRoot.___GetDepth___(obj1));
	}
	this.on('tick', function (event){
		var curTimeline = event.currentTarget;
		if (curTimeline.___needSorting___()){
			this.sortChildren(curTimeline.___sortFunction___);
		}
	});
	this.isSingleFrame = false;
	// timeline functions:
	this.frame_0 = function() {
		if(this.isSingleFrame) {
			return;
		}
		if(this.totalFrames == 1) {
			this.isSingleFrame = true;
		}
		this.mouseHandler = this.mousehandler.mouseHandler;
		this.playerMovDebug = this.camLock.playerMovDebug;
		this.grass_piece0 = this.library.grass_piece0;
		this.bush_piece0 = this.library.bush_piece0;
		this.water_open0 = this.library.water_open0;
		this.barrelPiece = this.library.barrelPiece;
		this.stonewall_piece0 = this.library.stonewall_piece0;
		this.bridge_vertical0 = this.library.bridge_vertical0;
		this.bridge_horizontal0 = this.library.bridge_horizontal0;
		this.water_i_br = this.library.water_i_br;
		this.water_i_bl = this.library.water_i_bl;
		this.water_i_tr = this.library.water_i_tr;
		this.water_i_tl = this.library.water_i_tl;
		this.water_e_tl = this.library.water_e_tl;
		this.water_e_tr = this.library.water_e_tr;
		this.water_e_bl = this.library.water_e_bl;
		this.water_e_br = this.library.water_e_br;
		this.water_e_b = this.library.water_e_b;
		this.water_e_r = this.library.water_e_r;
		this.water_e_l = this.library.water_e_l;
		this.water_e_t = this.library.water_e_t;
		this.potionPiece = this.library.potionPiece;
		this.dirt_e_l = this.library.dirt_e_l;
		this.dirt_e_tl = this.library.dirt_e_tl;
		this.dirt_e_t = this.library.dirt_e_t;
		this.dirt_e_tr = this.library.dirt_e_tr;
		this.dirt_e_r = this.library.dirt_e_r;
		this.dirt_e_br = this.library.dirt_e_br;
		this.dirt_e_b = this.library.dirt_e_b;
		this.dirt_e_bl = this.library.dirt_e_bl;
		this.dirt_open = this.library.dirt_open;
		this.stonewall_piece1 = this.library.stonewall_piece1;
		this.door_stone0 = this.library.door_stone0;
		this.archway_stone0 = this.library.archway_stone0;
		this.player = this.library.player;
		this.enemy0 = this.library.enemy0;
	}
	// actions tween:
	this.timeline.addTween(cjs.Tween.get(this).call(this.frame_0).wait(1));
	// Camera
	this.___camera___instance = new lib.___Camera___();
	this.___camera___instance.setTransform(512,320);
	this.___camera___instance.depth = 0;
	this.___camera___instance.visible = false;
	this.timeline.addTween(cjs.Tween.get(this.___camera___instance).wait(1));
	// mousehandler_obj_
	this.mousehandler = new lib.Scene_1_mousehandler();
	this.mousehandler.setTransform(512,320,1,1,0,0,0,512,320);
	this.mousehandler.depth = 0;
	this.mousehandler.isAttachedToCamera = 1
	this.mousehandler.isAttachedToMask = 0
	this.mousehandler.layerDepth = 0
	this.mousehandler.layerIndex = 0
	this.mousehandler.maskLayerName = 0
	this.timeline.addTween(cjs.Tween.get(this.mousehandler).wait(1));
	// camLock_obj_
	this.camLock = new lib.Scene_1_camLock();
	this.camLock.setTransform(-204,190.1,1,1,0,0,0,-204,190.1);
	this.camLock.depth = 0;
	this.camLock.isAttachedToCamera = 0
	this.camLock.isAttachedToMask = 0
	this.camLock.layerDepth = 0
	this.camLock.layerIndex = 1
	this.camLock.maskLayerName = 0
	this.timeline.addTween(cjs.Tween.get(this.camLock).wait(1));
	// holder_obj_
	this.holder = new lib.Scene_1_holder();
	this.holder.setTransform(-242.5,22,1,1,0,0,0,-242.5,22);
	this.holder.depth = 0;
	this.holder.isAttachedToCamera = 0
	this.holder.isAttachedToMask = 0
	this.holder.layerDepth = 0
	this.holder.layerIndex = 2
	this.holder.maskLayerName = 0
	this.timeline.addTween(cjs.Tween.get(this.holder).wait(1));
	// library_obj_
	this.library = new lib.Scene_1_library();
	this.library.setTransform(168.2,-79.8,1,1,0,0,0,168.2,-79.8);
	this.library.depth = 0;
	this.library.isAttachedToCamera = 0
	this.library.isAttachedToMask = 0
	this.library.layerDepth = 0
	this.library.layerIndex = 3
	this.library.maskLayerName = 0
	this.timeline.addTween(cjs.Tween.get(this.library).wait(1));
	this._renderFirstFrame();
}).prototype = p = new cjs.MovieClip();
p.nominalBounds = new cjs.Rectangle(219.6,18.9,805.4,622.1);
// library properties:
lib.properties = {
	id: 'A75A9B54A0174877B8FA281F95CE0F4A',
	width: 1024,
	height: 640,
	fps: 30,
	color: "#FFFFFF",
	opacity: 1.00,
	webfonts: {},
	manifest: [
		{src:"spritesheets/game_1024x640_atlas_.png", id:"game_1024x640_atlas_"}
	],
	preloads: []
};
// bootstrap callback support:
(lib.Stage = function(canvas) {
	createjs.Stage.call(this, canvas);
}).prototype = p = new createjs.StageGL();
p.setAutoPlay = function(autoPlay) {
	this.tickEnabled = autoPlay;
}
p.play = function() { this.tickEnabled = true; this.getChildAt(0).gotoAndPlay(this.getTimelinePosition()) }
p.stop = function(ms) { if(ms) this.seek(ms); this.tickEnabled = false; }
p.seek = function(ms) { this.tickEnabled = true; this.getChildAt(0).gotoAndStop(lib.properties.fps * ms / 1000); }
p.getDuration = function() { return this.getChildAt(0).totalFrames / lib.properties.fps * 1000; }
p.getTimelinePosition = function() { return this.getChildAt(0).currentFrame / lib.properties.fps * 1000; }
an.bootcompsLoaded = an.bootcompsLoaded || [];
if(!an.bootstrapListeners) {
	an.bootstrapListeners=[];
}
an.bootstrapCallback=function(fnCallback) {
	an.bootstrapListeners.push(fnCallback);
	if(an.bootcompsLoaded.length > 0) {
		for(var i=0; i<an.bootcompsLoaded.length; ++i) {
			fnCallback(an.bootcompsLoaded[i]);
		}
	}
};
an.compositions = an.compositions || {};
an.compositions['A75A9B54A0174877B8FA281F95CE0F4A'] = {
	getStage: function() { return exportRoot.stage; },
	getLibrary: function() { return lib; },
	getSpriteSheet: function() { return ss; },
	getImages: function() { return img; }
};
an.compositionLoaded = function(id) {
	an.bootcompsLoaded.push(id);
	for(var j=0; j<an.bootstrapListeners.length; j++) {
		an.bootstrapListeners[j](id);
	}
}
an.getComposition = function(id) {
	return an.compositions[id];
}
p._getProjectionMatrix = function(container, totalDepth) {	var focalLength = 528.25;
	var projectionCenter = { x : lib.properties.width/2, y : lib.properties.height/2 };
	var scale = (totalDepth + focalLength)/focalLength;
	var scaleMat = new createjs.Matrix2D;
	scaleMat.a = 1/scale;
	scaleMat.d = 1/scale;
	var projMat = new createjs.Matrix2D;
	projMat.tx = -projectionCenter.x;
	projMat.ty = -projectionCenter.y;
	projMat = projMat.prependMatrix(scaleMat);
	projMat.tx += projectionCenter.x;
	projMat.ty += projectionCenter.y;
	return projMat;
}
p._handleTick = function(event) {
	var cameraInstance = exportRoot.___camera___instance;
	if(cameraInstance !== undefined && cameraInstance.pinToObject !== undefined)
	{
		cameraInstance.x = cameraInstance.pinToObject.x + cameraInstance.pinToObject.pinOffsetX;
		cameraInstance.y = cameraInstance.pinToObject.y + cameraInstance.pinToObject.pinOffsetY;
		if(cameraInstance.pinToObject.parent !== undefined && cameraInstance.pinToObject.parent.depth !== undefined)
		cameraInstance.depth = cameraInstance.pinToObject.parent.depth + cameraInstance.pinToObject.pinOffsetZ;
	}
	stage._applyLayerZDepth(exportRoot);
}
p._applyLayerZDepth = function(parent)
{
	var cameraInstance = parent.___camera___instance;
	var focalLength = 528.25;
	var projectionCenter = { 'x' : 0, 'y' : 0};
	if(parent === exportRoot)
	{
		var stageCenter = { 'x' : lib.properties.width/2, 'y' : lib.properties.height/2 };
		projectionCenter.x = stageCenter.x;
		projectionCenter.y = stageCenter.y;
	}
	for(child in parent.children)
	{
		var layerObj = parent.children[child];
		if(layerObj == cameraInstance)
			continue;
		stage._applyLayerZDepth(layerObj, cameraInstance);
		if(layerObj.layerDepth === undefined)
			continue;
		if(layerObj.currentFrame != layerObj.parent.currentFrame)
		{
			layerObj.gotoAndPlay(layerObj.parent.currentFrame);
		}
		var matToApply = new createjs.Matrix2D;
		var cameraMat = new createjs.Matrix2D;
		var totalDepth = layerObj.layerDepth ? layerObj.layerDepth : 0;
		var cameraDepth = 0;
		if(cameraInstance && !layerObj.isAttachedToCamera)
		{
			var mat = cameraInstance.getMatrix();
			mat.tx -= projectionCenter.x;
			mat.ty -= projectionCenter.y;
			cameraMat = mat.invert();
			cameraMat.prependTransform(projectionCenter.x, projectionCenter.y, 1, 1, 0, 0, 0, 0, 0);
			cameraMat.appendTransform(-projectionCenter.x, -projectionCenter.y, 1, 1, 0, 0, 0, 0, 0);
			if(cameraInstance.depth)
				cameraDepth = cameraInstance.depth;
		}
		if(layerObj.depth)
		{
			totalDepth = layerObj.depth;
		}
		//Offset by camera depth
		totalDepth -= cameraDepth;
		if(totalDepth < -focalLength)
		{
			matToApply.a = 0;
			matToApply.d = 0;
		}
		else
		{
			if(layerObj.layerDepth)
			{
				var sizeLockedMat = stage._getProjectionMatrix(parent, layerObj.layerDepth);
				if(sizeLockedMat)
				{
					sizeLockedMat.invert();
					matToApply.prependMatrix(sizeLockedMat);
				}
			}
			matToApply.prependMatrix(cameraMat);
			var projMat = stage._getProjectionMatrix(parent, totalDepth);
			if(projMat)
			{
				matToApply.prependMatrix(projMat);
			}
		}
		layerObj.transformMatrix = matToApply;
	}
}
an.makeResponsive = function(isResp, respDim, isScale, scaleType, domContainers) {		
	var lastW, lastH, lastS=1;		
	window.addEventListener('resize', resizeCanvas);		
	resizeCanvas();		
	function resizeCanvas() {			
		var w = lib.properties.width, h = lib.properties.height;			
		var iw = window.innerWidth, ih=window.innerHeight;			
		var pRatio = window.devicePixelRatio || 1, xRatio=iw/w, yRatio=ih/h, sRatio=1;			
		if(isResp) {                
			if((respDim=='width'&&lastW==iw) || (respDim=='height'&&lastH==ih)) {                    
				sRatio = lastS;                
			}				
			else if(!isScale) {					
				if(iw<w || ih<h)						
					sRatio = Math.min(xRatio, yRatio);				
			}				
			else if(scaleType==1) {					
				sRatio = Math.min(xRatio, yRatio);				
			}				
			else if(scaleType==2) {					
				sRatio = Math.max(xRatio, yRatio);				
			}			
		}			
		domContainers[0].width = w * pRatio * sRatio;			
		domContainers[0].height = h * pRatio * sRatio;			
		domContainers.forEach(function(container) {				
			container.style.width = w * sRatio + 'px';				
			container.style.height = h * sRatio + 'px';			
		});			
		stage.scaleX = pRatio*sRatio;			
		stage.scaleY = pRatio*sRatio;			
		lastW = iw; lastH = ih; lastS = sRatio;            
		stage.tickOnUpdate = false;            
		stage.update();            
		stage.tickOnUpdate = true;		
	}
}
// Virtual camera API : 
an.VirtualCamera = new function() {
var _camera = new Object();
function VC(timeline) {
	this.timeline = timeline;
	this.camera = timeline.___camera___instance;
	this.centerX = lib.properties.width / 2;
	this.centerY = lib.properties.height / 2;
	this.camAxisX = this.camera.x;
	this.camAxisY = this.camera.y;
	if(timeline.___camera___instance == null || timeline.___camera___instance == undefined ) {
		timeline.___camera___instance = new cjs.MovieClip();
		timeline.___camera___instance.visible = false;
		timeline.___camera___instance.parent = timeline;
		timeline.___camera___instance.setTransform(this.centerX, this.centerY);
	}
	this.camera = timeline.___camera___instance;
}
VC.prototype.moveBy = function(x, y, z) {
z = typeof z !== 'undefined' ? z : 0;
	var position = this.___getCamPosition___();
	var rotAngle = this.getRotation()*Math.PI/180;
	var sinTheta = Math.sin(rotAngle);
	var cosTheta = Math.cos(rotAngle);
	var offX= x*cosTheta + y*sinTheta;
	var offY = y*cosTheta - x*sinTheta;
	this.camAxisX = this.camAxisX - x;
	this.camAxisY = this.camAxisY - y;
	var posX = position.x + offX;
	var posY = position.y + offY;
	this.camera.x = this.centerX - posX;
	this.camera.y = this.centerY - posY;
	this.camera.depth += z;
};
VC.prototype.setPosition = function(x, y, z) {
	z = typeof z !== 'undefined' ? z : 0;
	const MAX_X = 10000;
	const MIN_X = -10000;
	const MAX_Y = 10000;
	const MIN_Y = -10000;
	const MAX_Z = 10000;
	const MIN_Z = -5000;
	if(x > MAX_X)
	  x = MAX_X;
	else if(x < MIN_X)
	  x = MIN_X;
	if(y > MAX_Y)
	  y = MAX_Y;
	else if(y < MIN_Y)
	  y = MIN_Y;
	if(z > MAX_Z)
	  z = MAX_Z;
	else if(z < MIN_Z)
	  z = MIN_Z;
	var rotAngle = this.getRotation()*Math.PI/180;
	var sinTheta = Math.sin(rotAngle);
	var cosTheta = Math.cos(rotAngle);
	var offX= x*cosTheta + y*sinTheta;
	var offY = y*cosTheta - x*sinTheta;
	this.camAxisX = this.centerX - x;
	this.camAxisY = this.centerY - y;
	this.camera.x = this.centerX - offX;
	this.camera.y = this.centerY - offY;
	this.camera.depth = z;
};
VC.prototype.getPosition = function() {
	var loc = new Object();
	loc['x'] = this.centerX - this.camAxisX;
	loc['y'] = this.centerY - this.camAxisY;
	loc['z'] = this.camera.depth;
	return loc;
};
VC.prototype.resetPosition = function() {
	this.setPosition(0, 0);
};
VC.prototype.zoomBy = function(zoom) {
	this.setZoom( (this.getZoom() * zoom) / 100);
};
VC.prototype.setZoom = function(zoom) {
	const MAX_zoom = 10000;
	const MIN_zoom = 1;
	if(zoom > MAX_zoom)
	zoom = MAX_zoom;
	else if(zoom < MIN_zoom)
	zoom = MIN_zoom;
	this.camera.scaleX = 100 / zoom;
	this.camera.scaleY = 100 / zoom;
};
VC.prototype.getZoom = function() {
	return 100 / this.camera.scaleX;
};
VC.prototype.resetZoom = function() {
	this.setZoom(100);
};
VC.prototype.rotateBy = function(angle) {
	this.setRotation( this.getRotation() + angle );
};
VC.prototype.setRotation = function(angle) {
	const MAX_angle = 180;
	const MIN_angle = -179;
	if(angle > MAX_angle)
		angle = MAX_angle;
	else if(angle < MIN_angle)
		angle = MIN_angle;
	this.camera.rotation = -angle;
};
VC.prototype.getRotation = function() {
	return -this.camera.rotation;
};
VC.prototype.resetRotation = function() {
	this.setRotation(0);
};
VC.prototype.reset = function() {
	this.resetPosition();
	this.resetZoom();
	this.resetRotation();
	this.unpinCamera();
};
VC.prototype.setZDepth = function(zDepth) {
	const MAX_zDepth = 10000;
	const MIN_zDepth = -5000;
	if(zDepth > MAX_zDepth)
		zDepth = MAX_zDepth;
	else if(zDepth < MIN_zDepth)
		zDepth = MIN_zDepth;
	this.camera.depth = zDepth;
}
VC.prototype.getZDepth = function() {
	return this.camera.depth;
}
VC.prototype.resetZDepth = function() {
	this.camera.depth = 0;
}
VC.prototype.pinCameraToObject = function(obj, offsetX, offsetY, offsetZ) {
	offsetX = typeof offsetX !== 'undefined' ? offsetX : 0;
	offsetY = typeof offsetY !== 'undefined' ? offsetY : 0;
	offsetZ = typeof offsetZ !== 'undefined' ? offsetZ : 0;
	if(obj === undefined)
		return;
	this.camera.pinToObject = obj;
	this.camera.pinToObject.pinOffsetX = offsetX;
	this.camera.pinToObject.pinOffsetY = offsetY;
	this.camera.pinToObject.pinOffsetZ = offsetZ;
};
VC.prototype.setPinOffset = function(offsetX, offsetY, offsetZ) {
	if(this.camera.pinToObject != undefined) {
	this.camera.pinToObject.pinOffsetX = offsetX;
	this.camera.pinToObject.pinOffsetY = offsetY;
	this.camera.pinToObject.pinOffsetZ = offsetZ;
	}
};
VC.prototype.unpinCamera = function() {
	this.camera.pinToObject = undefined;
};
VC.prototype.___getCamPosition___ = function() {
	var loc = new Object();
	loc['x'] = this.centerX - this.camera.x;
	loc['y'] = this.centerY - this.camera.y;
	loc['z'] = this.depth;
	return loc;
};
this.getCamera = function(timeline) {
	timeline = typeof timeline !== 'undefined' ? timeline : null;
	if(timeline === null) timeline = exportRoot;
	if(_camera[timeline] == undefined)
	_camera[timeline] = new VC(timeline);
	return _camera[timeline];
}
this.getCameraAsMovieClip = function(timeline) {
	timeline = typeof timeline !== 'undefined' ? timeline : null;
	if(timeline === null) timeline = exportRoot;
	return this.getCamera(timeline).camera;
}
}
// Layer depth API : 
an.Layer = new function() {
	this.getLayerZDepth = function(timeline, layerName)
	{
		if(layerName === "Camera")
		layerName = "___camera___instance";
		var script = "if(timeline." + layerName + ") timeline." + layerName + ".depth; else 0;";
		return eval(script);
	}
	this.setLayerZDepth = function(timeline, layerName, zDepth)
	{
		const MAX_zDepth = 10000;
		const MIN_zDepth = -5000;
		if(zDepth > MAX_zDepth)
			zDepth = MAX_zDepth;
		else if(zDepth < MIN_zDepth)
			zDepth = MIN_zDepth;
		if(layerName === "Camera")
		layerName = "___camera___instance";
		var script = "if(timeline." + layerName + ") timeline." + layerName + ".depth = " + zDepth + ";";
		eval(script);
	}
	this.removeLayer = function(timeline, layerName)
	{
		if(layerName === "Camera")
		layerName = "___camera___instance";
		var script = "if(timeline." + layerName + ") timeline.removeChild(timeline." + layerName + ");";
		eval(script);
	}
	this.addNewLayer = function(timeline, layerName, zDepth)
	{
		if(layerName === "Camera")
		layerName = "___camera___instance";
		zDepth = typeof zDepth !== 'undefined' ? zDepth : 0;
		var layer = new createjs.MovieClip();
		layer.name = layerName;
		layer.depth = zDepth;
		layer.layerIndex = 0;
		timeline.addChild(layer);
	}
}
})(createjs = createjs||{}, AdobeAn = AdobeAn||{});
var createjs, AdobeAn;
</script>
	<script>
	var canvas, stage, exportRoot, anim_container, dom_overlay_container, fnStartAnimation;
	function init() {
		canvas = document.getElementById("canvas");
		canvas.setAttribute("width", 1024*2);
		canvas.setAttribute("height", 640*2);
		anim_container = document.getElementById("animation_container");
		dom_overlay_container = document.getElementById("dom_overlay_container");
	var comp=AdobeAn.getComposition("A75A9B54A0174877B8FA281F95CE0F4A");
	var lib=comp.getLibrary();
	var loader = new createjs.LoadQueue(false);
	loader.addEventListener("fileload", function(evt){handleFileLoad(evt,comp)});
	loader.addEventListener("complete", function(evt){handleComplete(evt,comp)});
	var lib=comp.getLibrary();
	loader.loadManifest(lib.properties.manifest);
	}
function handleFileLoad(evt, comp) {
	var spritesheets=comp.getImages();
	if (evt && (evt.item.type == "image")) { spritesheets[evt.item.id] = evt.result; }
}
function handleComplete(evt,comp) {
		//This function is always called, irrespective of the content. You can use the variable "stage" after it is created	in token create_stage.
	var lib=comp.getLibrary();
	var ss=comp.getSpriteSheet();
	var queue = evt.target;
	var ssMetadata = lib.ssMetadata;
	for(i=0; i<ssMetadata.length; i++) {
		ss[ssMetadata[i].name] = new createjs.SpriteSheet( {"images": [queue.getResult(ssMetadata[i].name)], "frames": ssMetadata[i].frames} )
	}
	var preloaderDiv = document.getElementById("_preload_div_");
	preloaderDiv.style.display = 'none';
	canvas.style.display = 'block';
	exportRoot = new lib.game1024x640();
	stage = new lib.Stage(canvas);
		stage.scale = 2;
		//Registers the "tick" event listener.
		fnStartAnimation = function() {
		stage.addChild(exportRoot);
		createjs.Ticker.framerate = lib.properties.fps;
		createjs.Ticker.addEventListener("tick", stage);
		stage.addEventListener("tick", stage._handleTick);
	}
		Main(stage, lib, exportRoot);
	AdobeAn.compositionLoaded(lib.properties.id);
	fnStartAnimation();
}
	</script>
	<!-- write your code here -->
</head>
<body class="game" onload="init();">
	<div id="container">
		<div id="content">
			<div id="menubar">
				<div class="buttonGroup">
				</div>
				<div class="button" id="closeButton">&nbsp;</div>
			</div>
			<div id="animation_container" style="background-color:rgba(255, 255, 255, 1.00); width:calc(1024px*2); height:calc(640px*2)">
				<canvas id="canvas" style="position: absolute; background-color:rgba(255, 255, 255, 1.00);" oncontextmenu="return false"></canvas>
				<div id="dom_overlay_container"
					style="pointer-events:none; overflow:hidden; width:calc(1024px*2); height:calc(640px*2); position: absolute; left: 0px; top: 0px; display: none;">
				</div>
			</div>
			<div id='_preload_div_' style='position:absolute; top:0; left:0; display: inline-block; height:calc(640px*2); width: calc(1024px*2); text-align: center;'>	<span style='display: inline-block; height: 100%; vertical-align: middle;'></span>	<img src=spritesheets/_preloader.gif style='vertical-align: middle; max-height: 100%'/></div>
		</div>
	</div>
</body>
<script src="/dist/js/base.<%= js_version %>.js"></script>
<script>
	var closeButton = document.getElementById("closeButton");
	closeButton.addEventListener('click', function(){parent.postMessage("close_feature", "*");})
</script>
</html>